<div class="row">
  <div class="col-md-7">
    <h1>Manage Courses</h1>
    {{#if cre }}
      <p class="alert alert-info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  {{ cre }} </p>
    {{/if}}
    <div class="courses">
    </div>
  </div>
</div>

{{#section 'script'}}
  <script src="/js/courses.js"></script>
{{/section}}
