<div class="col-md-6">
  <a href="/studentcourse/grades" class="btn btn-primary">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Back to grades
  </a>
</div>

<div class="col-md-9">
  <h2>Review &mdash; {{testile}}</h2>
  <form>
    <div class="questions">

    </div>
  </form>
</div>

{{#section 'script'}}
  <script src="/js/reviewTestQuestions.js"></script>
{{/section}}
