<div class="col-md-6">
  <h1>{{testile}}</h1>
</div>

<div class="col-md-8">
  <form>
    <div class="questions">

    </div>
    <div class="">
      <button class="btn btn-primary" name="button">Submit</button>
    </div>
  </form>
</div>

{{#section 'script'}}
  <script src="/js/testQuestions.js"></script>
{{/section}}
