<div class="row">
  <div class="tests col-md-6">
    <h2> {{cname}} &mdash; Test Grade</h2>
    <div class="answers">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="active">
            <th>Question #</th>
            <th>Expected Answer</th>
            <th>Your Answer</th>
            <th>Expected Points</th>
            <th>Your Points</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>


{{#section 'script'}}
  <script src="/js/testGrades.js"></script>
{{/section}}
