<div class="row">
  <div class="tests col-md-6">
    {{#if ctests }}
      <p class="alert alert-info"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>  {{ ctests }} </p>
    {{/if}}
  </div>
</div>


{{#section 'script'}}
  <script src="/js/teacherCourseTests.js"></script>
{{/section}}
