<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/users.css" >
</head>
<body>
  <div class="wrapper">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="column col-sm-3 col-xs-1 col-md-2 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">
                <li><a href="#"><i class="glyphicon glyphicon-fire"></i> <span class="collapse in hidden-xs">Dashboard</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Course Management</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> <span class="collapse in hidden-xs">Info</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> <span class="collapse in hidden-xs">Settings</span></a></li>
            </ul>
        </div>

        <!-- Main body of the Page -->
        <div class="column col-sm-9 col-xs-11 col-md-10" id="main">
            <button class="btn btn-default btn-sm" data-toggle="offcanvas">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <h1>Here comes Johnny</h1>
        </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/teacher.js"></script>
</body>
</html>
