<div class="row">
  <div class="tests col-md-8">
    <h2> {{tname}} &mdash; Test Grade</h2>
    <div class="answers">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="active">
            <th>Student #</th>
            <th>Test Score</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>


{{#section 'script'}}
  <script src="/js/teacherTestGrades.js"></script>
{{/section}}
