<div class="row">
  <div class="col-md-8">
    <a href="/teachercourse/testTemplates" class="btn btn-primary">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      To Templates
    </a>
    <a href="/teachercourse/tests" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      To Tests
    </a>
  </div>
</div>

<div class="col-md-6">
  <h1>Test Preview</h1>
  {{#if tques}}
    <p class="alert alert-info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  {{ tques }} </p>
  {{/if}}
</div>

<div class="col-md-8">
  <form>
    <div class="questions">

    </div>
  </form>
</div>

{{#section 'script'}}
  <script src="/js/testQuestions.js"></script>
{{/section}}
