<h1>Courses</h1>
<div class="row">
  <div class="courses col-md-6">
    {{#if regis }}
      <p class="alert alert-info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  {{ regis }} </p>
    {{/if}}
  </div>
</div>



{{#section 'courses'}}
  <script src="/js/viewcourses.js"></script>
{{/section}}
