.header {
  background-color: #eee;
  color: #222;
  padding: 8px;
  width: 100%;
}

.username {
  display: inline-block;
  line-height: 2em;
  font-size: 1.2em;
  padding-right: 40px;
  font-family: 'Lato', sans-serif;
}

.nav {
  padding-top: 15px;
}

a {
  color: white;
}

.nav li > a:hover {
  color: black;
  background-color: white;
}

.sidebar{
  z-index: 10;
  position: absolute;
  min-height: 100%;
  width: 200px;
  background-color: #252e38;
}

.content {
  position: absolute;
  padding-left: 200px;
}

.shrink {
  padding-left: 3em;
}

.jumper {
  width: 3em;
}
